<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>QQ</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://p7h441d6x.bkt.clouddn.com/vue.js"></script>

    <style>
        .wl_right{
            margin-left: 120px;
        }
        .wl_input{
            border: 1px solid #87f8ff;
            height: 70px;
            border-radius:25px;-moz-border-radius:25px;

        }

        .wl_one,.wl_two{
            float:left;
            margin-left: 30px;
        }




    </style>
</head>
<body>

</body>
<div id="app">



    <div style="border: 1px solid black;height: 400px;overflow: auto;padding-bottom: 60px;
" id="zhu">
        <div  style="margin-top: 10px; border:0px solid;
            border-radius:25px;-moz-border-radius:25px;width: 70%;height: 50px;
            padding: 10px;background-color: rgba(160,160,160,0.62);"
              v-bind:class="[id== item.id ? 'wl_right' : '']"
              id="context"
              v-for="item in list">
            <img :src="item.tou" style="width:30px; height:30px; border-radius:50%; overflow:hidden;">
            <span style="color: #0AA5DF">{{item.name}}</span>
            <span >{{item.text}}</span>

            <br/>
        </div>


    </div>



    <!--底部-->
    <div style=" height:30px;background-color: rgba(165,171,161,0.57);
        position:fixed;
        bottom:20px;width: 100%;
        height: 7%;

        z-index:11; border: 0px solid red ">

        <div class="form-group"style="margin-top: 2%;">

            <div class="wl_one" style="border: 0px solid;">
                <input type="text" v-model="context" class="form-control"  placeholder="请输入想要Send的内容">

            </div>

            <button class="btn btn-info  wl_two" id="btn">Send</button>
        </div>

    </div>
</div>



<script>


    var app=new Vue({
        el:"#app",
        data:{
            title:"QQ",
            tou:"http://p7h441d6x.bkt.clouddn.com/",
            now:"",
            context:"",
            isRight:false,
            name:"",
            id:3,
            list:[



            ],
            temp:{id:1,text:""},

        },

        mounted(){


            var name,value;
            var str=location.href; //取得整个地址栏
            var num=str.indexOf("?")

            str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]

            var arr=str.split("&"); //各个参数放到数组里
            console.log(arr);
            if(arr[0].length>30){
                location.href="login.html";
            }

            this.id=arr[0].substr(3);
            this.name=arr[1].substr(5);

             this.name=decodeURIComponent(this.name);
            console.log(this.name);
            console.log(this.id);


            var num=Math.floor(Math.random()*10+1);
            console.log(num);
            this.now=this.tou+"qq"+num+".jpg";
            console.log(this.now);
            var templist=[{id:1,text:"123123"}];
            var wsServer = 'ws://118.25.108.136:8811';
            //调用websocket对象建立连接：
            //参数：ws/wss(加密)：//ip:port （字符串）
            var websocket = new WebSocket(wsServer);
            //onopen监听连接打开
            console.log("开始加载~");

            websocket.onopen = function (evt) {

                console.log("链接成功！");
            };


            $(".form-control").keypress(function(event){
                if(event.which === 13) {

                    var zhi=app.sendData();


                    console.log(zhi);
                    websocket.send(zhi);
                    var div = document.getElementById('zhu');
                    div.scrollTop = div.scrollHeight;
                }else{

                }
            });



            $(".wl_two").click(function () {

                var zhi=app.sendData();


                console.log(zhi);
                websocket.send(zhi);
                var div = document.getElementById('zhu');
                div.scrollTop = div.scrollHeight;
                app.clearContext();
            })
            websocket.onmessage = function (evt) {
                console.log(evt.data);
                var temp=evt.data;
                app.go1(temp);
                var div = document.getElementById('zhu');
                div.scrollTop = div.scrollHeight;

            };




        },

        methods:{

            go1(temp1){


                temp1=JSON.parse(temp1);
                let type=temp1.type;

                if(type=="id"){
                    // this.id=temp1.id;
                    var redis=temp1.redis;

                    let temparr=new Array();
                    redis.forEach(function(value,index,array){
                        let tempData={id:value.id,tou:value.tou,text:value.context,name:value.name};
                        temparr.push(tempData);

                    });
                    console.log(temparr);
                    this.list=temparr;

                }else  if(type=="data"){
                    this.temp={id:temp1.id,tou:temp1.tou,text:temp1.context,name:temp1.name};
                    this.list.push(this.temp);

                    this.temp={id:1,text:""};
                    this.context="";
                }else if(type=="redis"){
                    console.log("加载Redis了");
//                 	console.log(temp1);
                }

            },


            sendData(){

                var arr=new Array();
                arr.push(this.id);

                arr.push(this.context);
                arr.push(this.now);

                arr.push(this.name);
                arr= JSON.stringify(arr);
                return arr;


            },

            clearContext()

            {
                this.context="";
            }
        }

    })





</script>
<script>

    $(function () {

        $("#test").click(function(){

            var div = document.getElementById('zhu');
            div.scrollTop = div.scrollHeight;

        })
        setTimeout(

            function(){
                var div = document.getElementById('zhu');
                div.scrollTop = div.scrollHeight;

            }, 100 )


    })

</script>
</html>